
 /* MONITOR STYELES ------------------------------------------------------ */

.monitor{
	background:white;
	width:1920px;
	height:1080px;
	position: absolute;
	z-index: 99;
	display:none;

	#mon-splash, #mon-se1, #mon-se2, #mon-om1, #mon-om2, #mon-ult1, #mon-ult2{
		width: 100%; 
		height:100%;
		position:absolute;
		top: 0px;
		left: 0px;
		opacity: 0;
	}

	#mon-splash{ background: url('../img/monitor/intro.jpg') no-repeat 0 0;  }
	#mon-se1{ background: url('../img/monitor/ALAT14_screen_images_ver2.jpg') no-repeat 0 0; }
	#mon-se2{ background: url('../img/monitor/ALAT14_screen_images_ver22.jpg') no-repeat 0 0; }
	#mon-om1{ background: url('../img/monitor/ALAT14_screen_images_ver23.jpg') no-repeat 0 0; }
	#mon-om2{ background: url('../img/monitor/ALAT14_screen_images_ver24.jpg') no-repeat 0 0; }
	#mon-ult1{ background: url('../img/monitor/ALAT14_screen_images_ver25.jpg') no-repeat 0 0; }
	#mon-ult2{ background: url('../img/monitor/ALAT14_screen_images_ver26.jpg') no-repeat 0 0; }
}