
/* ONBREZZ SYTLES */
#on1, #on2, #on3, #on4, #on5, #on6, #on7, #on8, #on9, #on10, #on11, #on12, #on13, #on14, #on-ad1, #on-ad2, #on-ad3 {
     background-size: 100% 100%;
     position: absolute;
     width: 1024px;
     height: 768px;
     display: none;
     z-index: 1;
     background: black;
}

#on1{
     background: url('../img/om/ALAT_Onbrize_Storyboard_v1-01.jpg') no-repeat 0 0; 
     // display: inline;
}

#on2{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-02.jpg') no-repeat 0 0; }
#on3{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-03.jpg') no-repeat 0 0; }
#on4{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-04.jpg') no-repeat 0 0; }
#on5{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-05.jpg') no-repeat 0 0; }
#on6{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-06.jpg') no-repeat 0 0; }
#on7{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-07.jpg') no-repeat 0 0; }
#on8{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-08.jpg') no-repeat 0 0; }
#on9{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-09.jpg') no-repeat 0 0; }
#on10{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-10.jpg') no-repeat 0 0; }
#on11{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-11.jpg') no-repeat 0 0; }
#on12{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-12.jpg') no-repeat 0 0; }
#on13{ background: url('../img/om/ALAT_Onbrize_Storyboard_v1-13.jpg') no-repeat 0 0; }

#on-ad1{ background: url('../img/om/ALAT14_ipad_images_ver27.jpg') no-repeat 0 0; z-index: 2 }
#on-ad2{ background: url('../img/om/ALAT14_ipad_images_ver28.jpg') no-repeat 0 0; }
#on-ad3{ background: url('../img/om/ALAT14_ipad_images_ver29.jpg') no-repeat 0 0; }

.ombrez{
	h1{ 
		color:#DB0080;
		font-size: 16px;
		margin-bottom: 15px;
	}

	h2{
		color: #000000;
		font-weight: bold;
		margin-top:15px;
		font-size: 13px;
	}
	ul{
		list-style-position: outside;
		list-style-type: disc;
		padding-left: 20px;
	}
	ul li{ 
		font-size: 13px;
		margin-bottom: 10px;
	}
}