
 /* SEEBRI STYELES ------------------------------------------------------ */

#se1, #se2, #se3, #se4, #se5, #se6, #se7, #se8, #se9, #se10, #se11, #se12, #se13, #se14, #se15, #se-ad1, #se-ad2 , #se-ad3  {
     background-size: 100% 100%;
     position: absolute;
     width: 1024px;
     height: 768px;
     display: none;
     z-index: 1;
}

#se1{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-01.jpg') no-repeat 0 0; }
#se2{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-02.jpg') no-repeat 0 0; }
#se3{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-03.jpg') no-repeat 0 0; }
#se4{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-04.jpg') no-repeat 0 0; }
#se5{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-05.jpg') no-repeat 0 0; }
#se6{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-06.jpg') no-repeat 0 0; }
#se7{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-07.jpg') no-repeat 0 0; }
#se8{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-08.jpg') no-repeat 0 0; }
#se9{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-09.jpg') no-repeat 0 0; }
#se10{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-10.jpg') no-repeat 0 0; }
#se11{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-11.jpg') no-repeat 0 0; }
#se12{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-12.jpg') no-repeat 0 0; }
#se13{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-13.jpg') no-repeat 0 0; }
#se14{ background: url('../img/seeb/SEEBRI_mock-up_Storyboard-14.jpg') no-repeat 0 0; }

#se-ad1{ background: url('../img/seeb/ALAT14_ipad_images_ver2.jpg') no-repeat 0 0;  z-index: 2 }
#se-ad2{ background: url('../img/seeb/ALAT14_ipad_images_ver22.jpg') no-repeat 0 0; }
#se-ad3{ background: url('../img/seeb/ALAT14_ipad_images_ver23.jpg') no-repeat 0 0; }

.seebri{
	h1{ 
		color:#FAA835;
		font-size: 16px;
		margin-bottom: 15px;
	}

	h2{
		color: #000000;
		font-weight: bold;
		margin-top:15px;
		font-size: 13px;
	}
	ul{
		list-style-position: outside;
		list-style-type: disc;
		padding-left: 20px;
	}
	ul li{ 
		font-size: 13px;
		margin-bottom: 10px;
	}

	.overflow{
	    padding-right: 43px;
	    right: 0px;
	}
}

