@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "ombrez";
@import "seebri";
@import "ultibro";
@import "monitor";

body, html{ 
    margin: 0px; padding: 0px; 
	width: 100%;
    font-family: arial;
}

body{
    color: black;
    background: #252525;
}


#container{
     position: absolute;
     width: 1024px;
     height: 768px;
     margin-top: 0px;
     overflow: hidden;
     background: white;
     z-index: 0;
}

#beta{
    position: absolute;
    top: 770px;
    height: 770px;
    color: white;
    display: none;
}

#reset, #reset2{
    position: absolute;
    width: 250px;
    height: 90px;
    background: red;
    top: 660px;
    left: 390px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

 #reset2{
    left:0px;
    top: 300px;
    width: 80px;
    height: 120px;
    position: absolute;
}

#btnDownSE, #btnUpSE, #btnDownSE2, #btnUpSE2, #btnDownON, #btnUpON{
    background: red;
    position: absolute;
    width: 300px;
    height: 60px;
    top: 300px;
    left: 600px;
    z-index: 9;
    opacity: 0;
    display: none;
}

#btnDownON{
    top: 560px;
    left:670px;
}

#btnUpON{
    top: 200px;
    left:670px;
}

#btnDownSE, #btnUpSE, #btnDownSE2, #btnUpSE2{
    top: 600px;
    left: 700px;
}
 #btnDownSE2, #btnUpSE2{
    background: blue;
    top: 600px;
    left: 700px;
 }

.legalintro{ background: url('../img/SPHERE_INTERACTION_ipad_DIS-01.jpg') no-repeat 0 0;
     background-size: 100% 100%;
     position: absolute;
     width: 1024px;
     height: 768px;
     display: none;
     top: 0px;
     z-index: 99;
     cursor:pointer;
}

 #splash{
     background: url('../img/intro.jpg') no-repeat 0 0; 
     background-size: 100% 100%;
     position: absolute;
     width: 1024px;
     height: 768px;
     z-index: 99;
}

#opt1, #opt2, #opt3{
     background: white; 
     position: absolute;
     width: 201px;
     height: 276px;
     top: 240px;
     left: 127px;
     cursor: pointer;
     opacity: 1;
     @include transition( opacity .3s );
}

#opt2{ left: 407px; }

#opt3{ left: 700px; }

#opt1:hover, #opt2:hover, #opt3:hover{
    opacity: 0.5 !important;
}

.overflow{
    width: 280px;
    height: 210px;
    padding-bottom: 20px;
    padding-right: 20px;
    background: white;
    position: absolute;
    right: 25px;
    top: 340px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.block{
    position:absolute;
    width: 100%;
    height: 100%;
}

.margB{margin-bottom:15px;}
.txt13{ font-size:13px; } 

h2{ color: red }
a:link {color:#fff;}      /* unvisited link */
a:visited {color:#fff;}  /* visited link */
a:hover {color:#622f92;}  /* mouse over link */
a:active {color:#fff;}  /* selected link */
p{margin: 0px; padding: 0px; }

button{
    height: 40px;
    margin-top: 5px;
    background-color: #999999;
    color: white;
    padding: 4px;
    text-align: center;
    width: 150px;
}