
<!-- Big screen visuals //////////-->
<div class="monitor" id="monitor">
	<div id="mon-splash"></div>
	<div id="mon-se1"></div>
	<div id="mon-se2"></div>
	<div id="mon-om1"></div>
	<div id="mon-om2"></div>
	<div id="mon-ult1"></div>
	<div id="mon-ult2"></div>
</div>

<div id="container">

	<!-- MENU SCREEN -->
	<div id="splash">
		<div id="opt1" onclick="onbrezClick()"></div>
		<div id="opt2" onclick="seebriClick()"></div>
		<div id="opt3" onclick="ultiClick()"></div>
	</div>

	<!-- RESET BUTTON -->
	<div id="reset" onclick="showMenu()"></div>
	<div id="reset2" onclick="showMenu()"></div>

	<div id="btnDownSE"  onclick="seebriSect(11)" ></div>
	<div id="btnUpSE"  onclick="seebriSect(92)" ></div>

	<div id="btnDownSE2"  onclick="seebriSect(13)" ></div>
	<div id="btnUpSE2"  onclick="seebriSect(10)" ></div>

	<div id="btnDownON" onclick="onbrezSect(82)"></div>
	<div id="btnUpON" onclick="onbrezSect(72)"></div>


	<div id="legalintro" class="legalintro" onclick="hideLegal()"></div>

	<!-- //////////////////////////////////////////////// -->
	<!-- OMBREZ SCREENS  //////////////////////////////// -->
	<!-- //////////////////////////////////////////////// -->

	<div class="ombrez">
		
		<div id="on-ad1" onclick="onbrezSect('ad1')"></div>
		<div id="on-ad2" onclick="onbrezSect('ad2')"></div>
		<div id="on-ad3" onclick="onbrezSect('ad3')"></div>
		<div id="on1" onclick="onbrezSect(1)"></div>
		<div id="on2" onclick="onbrezSect(2)"></div>
		<div id="on3" onclick="onbrezSect(3)"></div>
		<div id="on4" onclick="onbrezSect(4)"></div>
		<div id="on5" onclick="onbrezSect(5)"></div>
		<div id="on6" onclick="onbrezSect(6)"></div>
		<div id="on7" onclick="onbrezSect(7)"></div>
		<div id="on8" >
			<div onclick="onbrezSect(8)" class="block"></div>
			<div class="overflow">
				<h1>Inhale el medicamento:</h1>
				<p class="txt13">
				Para inhalar el medicamento profundamente 
				en sus vías respiratorias: <br><br>
					<ul>
						<li>Sujete el inhalador como se muestra en la
							figura. Los pulsadores deben quedar 
							situados a la derecha e izquierda. No 
							presione los pulsadores.</li>
							<li>Introduzca la boquilla en su boca y cierre 
							los labios firmemente en torno a ella. </li>
							<li>Inspire de forma rápida y constante y tan 
							profundamente como pueda. </li>
					</ul>
				</p>

				<h2>Nota:  </h2>
				<p class="txt13">Cuando inspire a través del inhalador, la cápsula 
					girará en la cámara y usted deberá oír un
					zumbido. Notará un gusto dulce cuando el
					medicamento penetre en sus pulmones.</p>

				<h2>Información adicional:  </h2>
				<p class="txt13">Ocasionalmente, fragmentos muy pequeños de la
				cápsula pueden atravesar el filtro e introducirse 
				en su boca. Si esto ocurre, puede notar estos 
				fragmentos en su lengua. No es perjudicial si 
				estos fragmentos se tragan o inhalan. La 
				posibilidad de que la cápsula se fragmente 
				aumenta si la cápsula se perfora accidentalmente 
				más de una vez (paso 6).  </p>

				<h2>Si no oye un zumbido:   </h2>
				<p class="txt13">La cápsula puede estar atascada en el 
				compartimiento. Si esto ocurre:</p>
				<ul>
					<li>Abra el inhalador y libere la cápsula con
						cuidado dando golpecitos en la base del 
						mismo. No presione los pulsadores. </li>
					<li>Inhale el medicamento de nuevo repitiendo 
						los pasos 8 y 9.</li>
				</ul>

				</p>
			</div>
		</div>
		<div id="on9" >
			<div onclick="onbrezSect(9)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:<br><br>
					<ul>
						<li>Contenga la respiración durante un mínimo 
							de 5-10 segundos o todo lo posible 
							mientras no le resulte incomodo, al tiempo 
							que extrae el inhalador de la boca. </li>
						<li>Seguidamente espire. </li>
						<li>Abra el inhalador para comprobar si queda 
							polvo en la cápsula</li>
					</ul>
				</p>

				<h1>Contenga la respiración:  </h1>
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 8, 9, 10 y 11</li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar 
				la cápsula en una o dos inhalaciones.</p>

				<h2>Información adicional </h2>
				<p class="txt13">Algunas personas ocasionalmente pueden toser al 
				poco de inhalar el medicamento. En caso de que
				le ocurra, no se preocupe. Si la cápsula está vacía, 
				es que ha recibido suficiente cantidad de su 
				medicamento. </p>

				</p>
			</div>
		</div>
		<div id="on10" >
			<div onclick="onbrezSect(10)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:<br><br>
					<ul>
						<li>Contenga la respiración durante un mínimo 
							de 5-10 segundos o todo lo posible 
							mientras no le resulte incomodo, al tiempo 
							que extrae el inhalador de la boca. </li>
						<li>Seguidamente espire. </li>
						<li>Abra el inhalador para comprobar si queda 
							polvo en la cápsula</li>
					</ul>
				</p>

				<h1>Contenga la respiración:  </h1>
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 8, 9, 10 y 11</li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar 
				la cápsula en una o dos inhalaciones.</p>

				<h2>Información adicional </h2>
				<p class="txt13">Algunas personas ocasionalmente pueden toser al 
				poco de inhalar el medicamento. En caso de que
				le ocurra, no se preocupe. Si la cápsula está vacía, 
				es que ha recibido suficiente cantidad de su 
				medicamento. </p>

				</p>
			</div>
		</div>
		<div id="on11" >
			<div onclick="onbrezSect(11)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:<br><br>
					<ul>
						<li>Contenga la respiración durante un mínimo 
							de 5-10 segundos o todo lo posible 
							mientras no le resulte incomodo, al tiempo 
							que extrae el inhalador de la boca. </li>
						<li>Seguidamente espire. </li>
						<li>Abra el inhalador para comprobar si queda 
							polvo en la cápsula</li>
					</ul>
				</p>

				<h1>Contenga la respiración:  </h1>
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 8, 9, 10 y 11</li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar 
				la cápsula en una o dos inhalaciones.</p>

				<h2>Información adicional </h2>
				<p class="txt13">Algunas personas ocasionalmente pueden toser al 
				poco de inhalar el medicamento. En caso de que
				le ocurra, no se preocupe. Si la cápsula está vacía, 
				es que ha recibido suficiente cantidad de su 
				medicamento. </p>

				</p>
			</div>
		</div>
		<div id="on12" >
			<div onclick="onbrezSect(12)" class="block"></div>
			<div class="overflow">
				<h1>Después de que haya acabado de 
				tomar su medicamento: </h1>
				<p class="txt13">
					<ul>
						<li>Abra de nuevo la boquilla, y elimine la 
						cápsula vacía extrayéndola del 
						compartimiento de la cápsula. Coloque la 
						cápsula vacía en la basura de su casa.</li> 
						<li>Cierre el inhalador y coloque de nuevo el 
						capuchón.</li>
					</ul>
				</p>

				<h2 class="margB">No conserve las cápsulas en el inhalador de 
					Onbrize Breezhaler.</h2>

				<h1>Marque en el registro de dosis diaria</h1>

				<p class="txt13">En el interior del envase hay un registro de dosis 
				diaria. Coloque una marca en el recuadro de hoy 
				si le ayuda a recordar cuando le toca la siguiente 
				dosis.  </p>
				</p>
			</div>
		</div>
		<div id="on13" >
			<div onclick="onbrezSect(13)" class="block"></div>
			<div class="overflow">
				<h1>Después de que haya acabado de 
				tomar su medicamento: </h1>
				<p class="txt13">
					<ul>
						<li>Abra de nuevo la boquilla, y elimine la 
						cápsula vacía extrayéndola del 
						compartimiento de la cápsula. Coloque la 
						cápsula vacía en la basura de su casa.</li> 
						<li>Cierre el inhalador y coloque de nuevo el 
						capuchón.</li>
					</ul>
				</p>

				<h2 class="margB">No conserve las cápsulas en el inhalador de 
					Onbrize Breezhaler.</h2>

				<h1>Marque en el registro de dosis diaria</h1>

				<p class="txt13">En el interior del envase hay un registro de dosis 
				diaria. Coloque una marca en el recuadro de hoy 
				si le ayuda a recordar cuando le toca la siguiente 
				dosis.  </p>
				</p>
			</div>
		</div>
	</div>







	<!-- //////////////////////////////////////////////// -->
	<!-- SEEBRI SCREENS  //////////////////////////////// -->
	<!-- //////////////////////////////////////////////// -->

	<div class="seebri">
		<!-- <div id="seebriLegal" class="legalintro" onclick=""></div> -->
		<div id="se-ad1" onclick="seebriSect('ad1')" ></div>
		<div id="se-ad2" onclick="seebriSect('ad2')" ></div>
		<div id="se-ad3" onclick="seebriSect('ad3')" ></div>
		<div id="se1" onclick="seebriSect(1)" ></div>
		<div id="se2" onclick="seebriSect(2)" ></div>
		<div id="se3" onclick="seebriSect(3)" ></div>
		<div id="se4" onclick="seebriSect(4)" ></div>
		<div id="se5" onclick="seebriSect(5)" ></div>
		<div id="se6" onclick="seebriSect(6)" ></div>
		<div id="se7" onclick="seebriSect(7)" ></div>
		<div id="se8" >
			<div onclick="seebriSect(8)" class="block"></div>
			<div class="overflow">
				<h1>Inhale el medicamento:</h1>
				<p class="txt13">
				Para aspirar profundamente el medicamento hacia las vías respiratorias:<br><br>
					<ul>
						<li>Sujete el inhalador como se muestra en la imagen. Los botones laterales deben estar 
							situados a la izquierda y a la derecha. No presione los botones laterales.   </li>
						<li>Coloque la boquilla en la boca y cierre los labios firmemente alrededor de ella</li>
						<li>Respire con rapidez pero sin pausa tan profundamente como pueda.</li>
					</ul>
				</p>

				<h2>Nota: </h2>
				
				<p class="txt13">Al inspirar por el inhalador, la cápsula girará
				dentro de su compartimento y oirá un
				zumbido. Percibirá un sabor dulce a medida
				que el medicamento entra en sus pulmones.
				</p>

				<h2>Información adicional</h2> 
				<p class="txt13">En ocasiones, es posible que algunos pequeños fragmentos de cápsula atraviesen 
					el filtro y entren en la boca. Si esto sucede, es posible que note estos fragmentos en la 
					lengua. La ingestión o inhalación de estos fragmentos no le causará ningún daño. Las posibilidades de que la cápsula se fragmente aumentarán si accidentalmente se perfora la cápsula más de una vez (paso 6)</p> 

				<h2>Si no oye un zumbido: </h2>
				<p class="txt13">La cápsula puede estar atascada en su compartimento. Si esto sucede: <br><br>
				<ul>
					<li>Abra el inhalador y deje salir con cuidado la cápsula golpeando la base del inhalador.	
						No pulse los botones laterales. </li>
					<li>Inhale de nuevo el medicamento repitiendo los pasos 9 y 11.</li>
				</ul>
				</p>
			</div>
		</div>
		<div id="se9"  >
			<div onclick="seebriSect(9)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:<br><br>
					<ul>
						<li>Contenga la respiración durante al menos 5-10 segundos o todo lo posible mientras 	pueda hacerlo cómodamente, al tiempo que retira el inhalador de la boca. </li>
						<li>A continuación, espire. </li>
						<li>Abra el inhalador para ver si queda polvo en la cápsula</li>
					</ul>
				</p>

				<h1>Si aún queda algo de polvo en la cápsula</h1>
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 9, 11 y 12.</li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar la cápsula en una o dos inhalaciones.</p>

				<h2>Información adicional</h2> 
				<p class="txt13">
				A veces, algunas personas pueden toser poco después de inhalar el medicamento. Si le sucede a usted, no se preocupe. 
				Si la cápsula está vacía, habrá recibido una cantidad suficiente de medicamento.</p> 

			
				</p>
			</div>
		</div>
		<div id="se10" >
			<div onclick="seebriSect(10)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:<br><br>
					<ul>
						<li>Contenga la respiración durante al menos 5-10 segundos o todo lo posible mientras 	pueda hacerlo cómodamente, al tiempo que retira el inhalador de la boca. </li>
						<li>A continuación, espire. </li>
						<li>Abra el inhalador para ver si queda polvo en la cápsula</li>
					</ul>
				</p>

				<h1>Si aún queda algo de polvo en la cápsula</h1>
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 9, 11 y 12.</li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar la cápsula en una o dos inhalaciones.</p>

				<h2>Información adicional</h2> 
				<p class="txt13">
				A veces, algunas personas pueden toser poco después de inhalar el medicamento. Si le sucede a usted, no se preocupe. 
				Si la cápsula está vacía, habrá recibido una cantidad suficiente de medicamento.</p> 

			
				</p>
			</div>
		</div>
		<div id="se11" >
			<div onclick="seebriSect(11)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:<br><br>
					<ul>
						<li>Contenga la respiración durante al menos 5-10 segundos o todo lo posible mientras 	pueda hacerlo cómodamente, al tiempo que retira el inhalador de la boca. </li>
						<li>A continuación, espire. </li>
						<li>Abra el inhalador para ver si queda polvo en la cápsula</li>
					</ul>
				</p>

				<h1>Si aún queda algo de polvo en la cápsula</h1>
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 9, 11 y 12.</li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar la cápsula en una o dos inhalaciones.</p>

				<h2>Información adicional</h2> 
				<p class="txt13">
				A veces, algunas personas pueden toser poco después de inhalar el medicamento. Si le sucede a usted, no se preocupe. 
				Si la cápsula está vacía, habrá recibido una cantidad suficiente de medicamento.</p> 

			
				</p>
			</div>
		</div>

		<div id="se12" >
			<div onclick="seebriSect(12)" class="block"></div>
			<div class="overflow">
				<h1>Después de que haya acabado de 
					tomar su medicamento: </h1>
				
				<p class="txt13">
				
					<ul>
						<li>Una vez haya terminado de tomar su dosis diaria de Seebri Breezhaler: Abra la boquilla	de nuevo, y... 
							... retire la cápsula vacía extrayéndola de su compartimento. Una vez vacía, deposítela directamente en la basura doméstica.
						<li>Arroje la cápsula vacía a la basura de su casa</li>
					</ul>
				</p>

				<h2 class="margB">No conserve las cápsulas en el inhalador de Seebri Breezhaler. </h2>
				<h1>Marque el registro de las dosis diarias:</h1>

				<p class="txt13">En el interior del envase hay un registro de las dosis diarias. Coloque una marca en la casilla correspondiente al día de hoy si le ayuda a recordar cuando le toca la siguiente dosis.</p>
				<p class="txt13">La "esfera" y las animaciones relacionadas son para fines exclusivamente ilustrativos y no están destinadas a representar los efectos farmacológicos de ningún broncodilatador.</p>
			
				</p>
			</div>
		</div>

		<div id="se13" >
			<div onclick="seebriSect(13)" class="block"></div>
			<div class="overflow">
				<h1>Después de que haya acabado de 
					tomar su medicamento: </h1>
				
				<p class="txt13">
				
					<ul>
						<li>Una vez haya terminado de tomar su dosis diaria de Seebri Breezhaler: Abra la boquilla	de nuevo, y... 
							... retire la cápsula vacía extrayéndola de su compartimento. Una vez vacía, deposítela directamente en la basura doméstica.
						<li>Arroje la cápsula vacía a la basura de su casa</li>
					</ul>
				</p>

				<h2 class="margB">No conserve las cápsulas en el inhalador de Seebri Breezhaler. </h2>
				<h1>Marque el registro de las dosis diarias:</h1>

				<p class="txt13">En el interior del envase hay un registro de las dosis diarias. Coloque una marca en la casilla correspondiente al día de hoy si le ayuda a recordar cuando le toca la siguiente dosis.</p>
				<p class="txt13">La "esfera" y las animaciones relacionadas son para fines exclusivamente ilustrativos y no están destinadas a representar los efectos farmacológicos de ningún broncodilatador.</p>
			
				</p>
			</div>
		</div>

		<div id="se14" onclick="seebriSect(14)" ></div>
	</div>





	<!-- //////////////////////////////////////////////// -->
	<!-- ULTIBRO //////////////////////////////////////// -->
	<!-- //////////////////////////////////////////////// -->

	<div class="ultibro">
		<!-- <div id="ultibroLegal" class="legalintro" onclick=""></div> -->
		<div id="ult-ad1" onclick="ultibroSect('ad1')" ></div>
		<div id="ult-ad2" onclick="ultibroSect('ad2')" ></div>
		<div id="ult-ad3" onclick="ultibroSect('ad3')" ></div>
		<div id="ult1" onclick="ultibroSect(1)" ></div>
		<div id="ult2" onclick="ultibroSect(2)" ></div>
		<div id="ult3" onclick="ultibroSect(3)" ></div>
		<div id="ult4" onclick="ultibroSect(4)" ></div>
		<div id="ult5" onclick="ultibroSect(5)" ></div>
		<div id="ult6" onclick="ultibroSect(6)" ></div>
		<div id="ult7" onclick="ultibroSect(7)" ></div>
		<div id="ult8" >
			<div onclick="ultibroSect(8)" class="block"></div>
			<div class="overflow">
				<h1>Inhale el medicamento:</h1>
				<p class="txt13">
				Para inhalar el medicamento profundamente en sus vías respiratorias: <br><br>
					<ul>
						<li>Sujete el inhalador como se muestra en la
						figura. Los pulsadores deben quedar 
						situados a la derecha e izquierda. No 
						presione los pulsadores.</li>
						<li>Introduzca la boquilla en su boca y cierre 
						los labios firmemente en torno a ella. </li>
						<li>Inspire de forma rápida y constante y tan 
						profundamente como pueda. </li>
					</ul>
				</p>

				<h2>Nota: </h2>
				
				<p class="txt13">Cuando inspire a través del inhalador, la cápsula girará en la cámara y usted deberá oír un
				zumbido. Notará un gusto dulce cuando el medicamento penetre en sus pulmones. </p>

				<h2>Información adicional</h2> 
				<p class="txt13">Ocasionalmente, fragmentos muy pequeños de la
				cápsula pueden atravesar el filtro e introducirse 
				en su boca. Si esto ocurre, puede notar estos 
				fragmentos en su lengua. No es perjudicial si 
				estos fragmentos se tragan o inhalan. La 
				posibilidad de que la cápsula se fragmente 
				aumenta si la cápsula se perfora accidentalmente 
				más de una vez (paso 6). </p> 

				<h2>Si no oye un zumbido: </h2>
				<p class="txt13">La cápsula puede estar atascada en el compartimiento. Si esto ocurre: <br><br>
				<ul>
					<li>Abra el inhalador y libere la cápsula con
					cuidado dando golpecitos en la base del 
					mismo. No presione los pulsadores.</li>
					<li>Inhale el medicamento de nuevo repitiendo 
					los pasos 8 y 9.</li>
				</ul>
				</p>
			</div>
		</div>

		<div id="ult9" >
			<div onclick="ultibroSect(9)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:  <br><br>
					<ul>
						<li>Contenga la respiración durante un mínimo 
							de 5-10 segundos o todo lo posible 
							mientras no le resulte incomodo, al tiempo 
							que extrae el inhalador de la boca. </li>
							<li>Seguidamente espire. </li>
							<li>Abra el inhalador para comprobar si queda 
								polvo en la cápsula. </li>
					</ul>
				</p>

				<h1>Contenga la respiración: </h1>
			
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 8, 9, 10 y 11. </li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar 
					la cápsula en una o dos inhalaciones.

					<h2>Información adicional </h2>
					Algunas personas ocasionalmente pueden toser al 
					poco de inhalar el medicamento. En caso de que
					le ocurra, no se preocupe. Si la cápsula está vacía, 
					es que ha recibido suficiente cantidad de su 
					medicamento. </p>

				</p>
			</div>
		</div>

		<div id="ult10" >
			<div onclick="ultibroSect(10)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:  <br><br>
					<ul>
						<li>Contenga la respiración durante un mínimo 
							de 5-10 segundos o todo lo posible 
							mientras no le resulte incomodo, al tiempo 
							que extrae el inhalador de la boca. </li>
							<li>Seguidamente espire. </li>
							<li>Abra el inhalador para comprobar si queda 
								polvo en la cápsula. </li>
					</ul>
				</p>

				<h1>Contenga la respiración: </h1>
			
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 8, 9, 10 y 11. </li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar 
					la cápsula en una o dos inhalaciones.

					<h2>Información adicional </h2>
					Algunas personas ocasionalmente pueden toser al 
					poco de inhalar el medicamento. En caso de que
					le ocurra, no se preocupe. Si la cápsula está vacía, 
					es que ha recibido suficiente cantidad de su 
					medicamento. </p>

				</p>
			</div>
		</div>

		<div id="ult11" >
			<div onclick="ultibroSect(11)" class="block"></div>
			<div class="overflow">
				<h1>Contenga la respiración:</h1>
				<p class="txt13">
				Después de que haya inhalado el medicamento:  <br><br>
					<ul>
						<li>Contenga la respiración durante un mínimo 
							de 5-10 segundos o todo lo posible 
							mientras no le resulte incomodo, al tiempo 
							que extrae el inhalador de la boca. </li>
							<li>Seguidamente espire. </li>
							<li>Abra el inhalador para comprobar si queda 
								polvo en la cápsula. </li>
					</ul>
				</p>

				<h1>Contenga la respiración: </h1>
			
				<ul>
					<li>Cierre el inhalador. </li>
					<li>Repita los pasos 8, 9, 10 y 11. </li>
				</ul>

				<p class="txt13">La mayoría de las personas son capaces de vaciar 
					la cápsula en una o dos inhalaciones.

					<h2>Información adicional </h2>
					Algunas personas ocasionalmente pueden toser al 
					poco de inhalar el medicamento. En caso de que
					le ocurra, no se preocupe. Si la cápsula está vacía, 
					es que ha recibido suficiente cantidad de su 
					medicamento. </p>

				</p>
			</div>
		</div>

		<div id="ult12" >
			<div onclick="ultibroSect(12)" class="block"></div>
			<div class="overflow">
				<h1>Después de que haya acabado de 
					tomar su medicamento: </h1>
				<p class="txt13">
				
					<ul>
						<li>Abra de nuevo la boquilla, y elimine la 
							cápsula vacía extrayéndola del 
							compartimiento de la cápsula. Coloque la 
							cápsula vacía en la basura de su casa. </li>
						<li>Cierre el inhalador y coloque de nuevo el 
							capuchón.</li>
					</ul>
				</p>

				<h2 class="margB">No conserve las cápsulas en el inhalador de 
					Ultibro Breezhaler.  </h2>
			
				<h1>Marque en el registro de dosis diaria:</h1>

				<p class="txt13">En el interior del envase hay un registro de dosis 
				diaria. Coloque una marca en el recuadro de hoy 
				si le ayuda a recordar cuando le toca la siguiente 
				dosis.</p>

				</p>
			</div>
		</div>

		<div id="ult13" >
			<div onclick="ultibroSect(13)" class="block"></div>
			<div class="overflow">
				<h1>Después de que haya acabado de 
					tomar su medicamento: </h1>
				<p class="txt13">
				
					<ul>
						<li>Abra de nuevo la boquilla, y elimine la 
							cápsula vacía extrayéndola del 
							compartimiento de la cápsula. Coloque la 
							cápsula vacía en la basura de su casa. </li>
						<li>Cierre el inhalador y coloque de nuevo el 
							capuchón.</li>
					</ul>
				</p>

				<h2 class="margB">No conserve las cápsulas en el inhalador de 
					Ultibro Breezhaler.  </h2>
			
				<h1>Marque en el registro de dosis diaria:</h1>

				<p class="txt13">En el interior del envase hay un registro de dosis 
				diaria. Coloque una marca en el recuadro de hoy 
				si le ayuda a recordar cuando le toca la siguiente 
				dosis.</p>

				</p>
			</div>
		</div>
	</div>



<div id="beta">
	<div>
		<br>
		Orange/Seebri colour change - 
		<form id="form1"  method="post"  onsubmit="return false"  onsubmit="return false">
			<input type="hidden" name="command1" value="SphereLoop_Seebri" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

	<div>
		<br>
		Orange/Seebri breath sequence - 
		<form id="form2" action="/" method="post"  onsubmit="return false">
			<input type="hidden" name="command2" value="SphereBreath_Seebri" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

	<div>
		<br>
		Pink/Onbrez colour change - 
		<form id="form3" action="/" method="post"  onsubmit="return false">
			<input type="hidden" name="command3" value="SphereLoop_Onbrez" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

	<div>
		<br>
		Pink/Onbrez breath sequence - 
		<form id="form4" action="/" method="post" onsubmit="return false" >
			<input type="hidden" name="command4" value="SphereBreath_Onbrez" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

	<div>
		<br>
		Yellow/Ultibro breath sequence - 
		<form id="form5" action="/" method="post" onsubmit="return false" >
			<input type="hidden" name="command5" value="SphereLoop_Ultibro" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

	<div>
		<br>
		Yellow/Ultibro breath sequence - 
		<form id="form6" action="/" method="post" onsubmit="return false" >
			<input type="hidden" name="command6" value="SphereBreath_Ultibro" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

	<div>
		<br>
		Reset/Screensaver - 
		<form id="form7" action="/" method="post"  onsubmit="return false">
			<input type="hidden" name="command7" value="SphereLoop_All3" />
			<button type="submit" value="send" class="submit" >SEND</button>
		</form>
	</div>

</div>

</div>