<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
		<title>{{title}}</title>

		<meta name="viewport" content="user-scalable=no, width=device-width, height=768, initial-scale=1, maximum-scale=2">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <link rel="apple-touch-icon-precomposed" href="static/img/appico.png"/> 

	   <link href="static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
 		
   		<script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
   	  <script type="text/javascript" src="static/js/jquery.form.js"></script>

   		<script type="text/javascript" src="static/js/TweenLite.min.js"></script>
   		<script type="text/javascript" src="static/js/CSSPlugin.min.js"></script>

   		<script type="text/javascript" src="static/js/fastclick.js"></script> 

   	</head>
<body>

<!-- template: -->

{{{yield}}}

<script src="http://10.0.1.5:3000/socket.io/socket.io.js"></script> 
<script type="text/javascript" src="static/js/app.js"></script> 

</body>
