/* MONITOR STYELES ------------------------------------------------------ */
/* line 4, ../../scss/monitor.scss */
.monitor {
  background: white;
  width: 1920px;
  height: 1080px;
  position: absolute;
  z-index: 99;
  display: none;
}
/* line 12, ../../scss/monitor.scss */
.monitor #mon-splash, .monitor #mon-se1, .monitor #mon-se2, .monitor #mon-om1, .monitor #mon-om2, .monitor #mon-ult1, .monitor #mon-ult2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
/* line 21, ../../scss/monitor.scss */
.monitor #mon-splash {
  background: url("../img/monitor/intro.jpg") no-repeat 0 0;
}
/* line 22, ../../scss/monitor.scss */
.monitor #mon-se1 {
  background: url("../img/monitor/ALAT14_screen_images_ver2.jpg") no-repeat 0 0;
}
/* line 23, ../../scss/monitor.scss */
.monitor #mon-se2 {
  background: url("../img/monitor/ALAT14_screen_images_ver22.jpg") no-repeat 0 0;
}
/* line 24, ../../scss/monitor.scss */
.monitor #mon-om1 {
  background: url("../img/monitor/ALAT14_screen_images_ver23.jpg") no-repeat 0 0;
}
/* line 25, ../../scss/monitor.scss */
.monitor #mon-om2 {
  background: url("../img/monitor/ALAT14_screen_images_ver24.jpg") no-repeat 0 0;
}
/* line 26, ../../scss/monitor.scss */
.monitor #mon-ult1 {
  background: url("../img/monitor/ALAT14_screen_images_ver25.jpg") no-repeat 0 0;
}
/* line 27, ../../scss/monitor.scss */
.monitor #mon-ult2 {
  background: url("../img/monitor/ALAT14_screen_images_ver26.jpg") no-repeat 0 0;
}
