/* ONBREZZ SYTLES */
/* line 3, ../../scss/ombrez.scss */
#on1, #on2, #on3, #on4, #on5, #on6, #on7, #on8, #on9, #on10, #on11, #on12, #on13, #on14, #on-ad1, #on-ad2, #on-ad3 {
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 1;
  background: black;
}

/* line 13, ../../scss/ombrez.scss */
#on1 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-01.jpg") no-repeat 0 0;
}

/* line 18, ../../scss/ombrez.scss */
#on2 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-02.jpg") no-repeat 0 0;
}

/* line 19, ../../scss/ombrez.scss */
#on3 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-03.jpg") no-repeat 0 0;
}

/* line 20, ../../scss/ombrez.scss */
#on4 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-04.jpg") no-repeat 0 0;
}

/* line 21, ../../scss/ombrez.scss */
#on5 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-05.jpg") no-repeat 0 0;
}

/* line 22, ../../scss/ombrez.scss */
#on6 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-06.jpg") no-repeat 0 0;
}

/* line 23, ../../scss/ombrez.scss */
#on7 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-07.jpg") no-repeat 0 0;
}

/* line 24, ../../scss/ombrez.scss */
#on8 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-08.jpg") no-repeat 0 0;
}

/* line 25, ../../scss/ombrez.scss */
#on9 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-09.jpg") no-repeat 0 0;
}

/* line 26, ../../scss/ombrez.scss */
#on10 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-10.jpg") no-repeat 0 0;
}

/* line 27, ../../scss/ombrez.scss */
#on11 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-11.jpg") no-repeat 0 0;
}

/* line 28, ../../scss/ombrez.scss */
#on12 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-12.jpg") no-repeat 0 0;
}

/* line 29, ../../scss/ombrez.scss */
#on13 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-13.jpg") no-repeat 0 0;
}

/* line 31, ../../scss/ombrez.scss */
#on-ad1 {
  background: url("../img/om/ALAT14_ipad_images_ver27.jpg") no-repeat 0 0;
  z-index: 2;
}

/* line 32, ../../scss/ombrez.scss */
#on-ad2 {
  background: url("../img/om/ALAT14_ipad_images_ver28.jpg") no-repeat 0 0;
}

/* line 33, ../../scss/ombrez.scss */
#on-ad3 {
  background: url("../img/om/ALAT14_ipad_images_ver29.jpg") no-repeat 0 0;
}

/* line 36, ../../scss/ombrez.scss */
.ombrez h1 {
  color: #DB0080;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 42, ../../scss/ombrez.scss */
.ombrez h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
}
/* line 48, ../../scss/ombrez.scss */
.ombrez ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 20px;
}
/* line 53, ../../scss/ombrez.scss */
.ombrez ul li {
  font-size: 13px;
  margin-bottom: 10px;
}
