/* SEEBRI STYELES ------------------------------------------------------ */
/* line 4, ../../scss/seebri.scss */
#se1, #se2, #se3, #se4, #se5, #se6, #se7, #se8, #se9, #se10, #se11, #se12, #se13, #se14, #se15, #se-ad1, #se-ad2, #se-ad3 {
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 1;
}

/* line 13, ../../scss/seebri.scss */
#se1 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-01.jpg") no-repeat 0 0;
}

/* line 14, ../../scss/seebri.scss */
#se2 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-02.jpg") no-repeat 0 0;
}

/* line 15, ../../scss/seebri.scss */
#se3 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-03.jpg") no-repeat 0 0;
}

/* line 16, ../../scss/seebri.scss */
#se4 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-04.jpg") no-repeat 0 0;
}

/* line 17, ../../scss/seebri.scss */
#se5 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-05.jpg") no-repeat 0 0;
}

/* line 18, ../../scss/seebri.scss */
#se6 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-06.jpg") no-repeat 0 0;
}

/* line 19, ../../scss/seebri.scss */
#se7 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-07.jpg") no-repeat 0 0;
}

/* line 20, ../../scss/seebri.scss */
#se8 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-08.jpg") no-repeat 0 0;
}

/* line 21, ../../scss/seebri.scss */
#se9 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-09.jpg") no-repeat 0 0;
}

/* line 22, ../../scss/seebri.scss */
#se10 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-10.jpg") no-repeat 0 0;
}

/* line 23, ../../scss/seebri.scss */
#se11 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-11.jpg") no-repeat 0 0;
}

/* line 24, ../../scss/seebri.scss */
#se12 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-12.jpg") no-repeat 0 0;
}

/* line 25, ../../scss/seebri.scss */
#se13 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-13.jpg") no-repeat 0 0;
}

/* line 26, ../../scss/seebri.scss */
#se14 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-14.jpg") no-repeat 0 0;
}

/* line 28, ../../scss/seebri.scss */
#se-ad1 {
  background: url("../img/seeb/ALAT14_ipad_images_ver2.jpg") no-repeat 0 0;
  z-index: 2;
}

/* line 29, ../../scss/seebri.scss */
#se-ad2 {
  background: url("../img/seeb/ALAT14_ipad_images_ver22.jpg") no-repeat 0 0;
}

/* line 30, ../../scss/seebri.scss */
#se-ad3 {
  background: url("../img/seeb/ALAT14_ipad_images_ver23.jpg") no-repeat 0 0;
}

/* line 33, ../../scss/seebri.scss */
.seebri h1 {
  color: #FAA835;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 39, ../../scss/seebri.scss */
.seebri h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
}
/* line 45, ../../scss/seebri.scss */
.seebri ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 20px;
}
/* line 50, ../../scss/seebri.scss */
.seebri ul li {
  font-size: 13px;
  margin-bottom: 10px;
}
/* line 55, ../../scss/seebri.scss */
.seebri .overflow {
  padding-right: 43px;
  right: 0px;
}
