/* line 17, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ONBREZZ SYTLES */
/* line 3, ../../scss/ombrez.scss */
#on1, #on2, #on3, #on4, #on5, #on6, #on7, #on8, #on9, #on10, #on11, #on12, #on13, #on14, #on-ad1, #on-ad2, #on-ad3 {
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 1;
  background: black;
}

/* line 13, ../../scss/ombrez.scss */
#on1 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-01.jpg") no-repeat 0 0;
}

/* line 18, ../../scss/ombrez.scss */
#on2 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-02.jpg") no-repeat 0 0;
}

/* line 19, ../../scss/ombrez.scss */
#on3 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-03.jpg") no-repeat 0 0;
}

/* line 20, ../../scss/ombrez.scss */
#on4 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-04.jpg") no-repeat 0 0;
}

/* line 21, ../../scss/ombrez.scss */
#on5 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-05.jpg") no-repeat 0 0;
}

/* line 22, ../../scss/ombrez.scss */
#on6 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-06.jpg") no-repeat 0 0;
}

/* line 23, ../../scss/ombrez.scss */
#on7 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-07.jpg") no-repeat 0 0;
}

/* line 24, ../../scss/ombrez.scss */
#on8 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-08.jpg") no-repeat 0 0;
}

/* line 25, ../../scss/ombrez.scss */
#on9 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-09.jpg") no-repeat 0 0;
}

/* line 26, ../../scss/ombrez.scss */
#on10 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-10.jpg") no-repeat 0 0;
}

/* line 27, ../../scss/ombrez.scss */
#on11 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-11.jpg") no-repeat 0 0;
}

/* line 28, ../../scss/ombrez.scss */
#on12 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-12.jpg") no-repeat 0 0;
}

/* line 29, ../../scss/ombrez.scss */
#on13 {
  background: url("../img/om/ALAT_Onbrize_Storyboard_v1-13.jpg") no-repeat 0 0;
}

/* line 31, ../../scss/ombrez.scss */
#on-ad1 {
  background: url("../img/om/ALAT14_ipad_images_ver27.jpg") no-repeat 0 0;
  z-index: 2;
}

/* line 32, ../../scss/ombrez.scss */
#on-ad2 {
  background: url("../img/om/ALAT14_ipad_images_ver28.jpg") no-repeat 0 0;
}

/* line 33, ../../scss/ombrez.scss */
#on-ad3 {
  background: url("../img/om/ALAT14_ipad_images_ver29.jpg") no-repeat 0 0;
}

/* line 36, ../../scss/ombrez.scss */
.ombrez h1 {
  color: #DB0080;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 42, ../../scss/ombrez.scss */
.ombrez h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
}
/* line 48, ../../scss/ombrez.scss */
.ombrez ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 20px;
}
/* line 53, ../../scss/ombrez.scss */
.ombrez ul li {
  font-size: 13px;
  margin-bottom: 10px;
}

/* SEEBRI STYELES ------------------------------------------------------ */
/* line 4, ../../scss/seebri.scss */
#se1, #se2, #se3, #se4, #se5, #se6, #se7, #se8, #se9, #se10, #se11, #se12, #se13, #se14, #se15, #se-ad1, #se-ad2, #se-ad3 {
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 1;
}

/* line 13, ../../scss/seebri.scss */
#se1 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-01.jpg") no-repeat 0 0;
}

/* line 14, ../../scss/seebri.scss */
#se2 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-02.jpg") no-repeat 0 0;
}

/* line 15, ../../scss/seebri.scss */
#se3 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-03.jpg") no-repeat 0 0;
}

/* line 16, ../../scss/seebri.scss */
#se4 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-04.jpg") no-repeat 0 0;
}

/* line 17, ../../scss/seebri.scss */
#se5 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-05.jpg") no-repeat 0 0;
}

/* line 18, ../../scss/seebri.scss */
#se6 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-06.jpg") no-repeat 0 0;
}

/* line 19, ../../scss/seebri.scss */
#se7 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-07.jpg") no-repeat 0 0;
}

/* line 20, ../../scss/seebri.scss */
#se8 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-08.jpg") no-repeat 0 0;
}

/* line 21, ../../scss/seebri.scss */
#se9 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-09.jpg") no-repeat 0 0;
}

/* line 22, ../../scss/seebri.scss */
#se10 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-10.jpg") no-repeat 0 0;
}

/* line 23, ../../scss/seebri.scss */
#se11 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-11.jpg") no-repeat 0 0;
}

/* line 24, ../../scss/seebri.scss */
#se12 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-12.jpg") no-repeat 0 0;
}

/* line 25, ../../scss/seebri.scss */
#se13 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-13.jpg") no-repeat 0 0;
}

/* line 26, ../../scss/seebri.scss */
#se14 {
  background: url("../img/seeb/SEEBRI_mock-up_Storyboard-14.jpg") no-repeat 0 0;
}

/* line 28, ../../scss/seebri.scss */
#se-ad1 {
  background: url("../img/seeb/ALAT14_ipad_images_ver2.jpg") no-repeat 0 0;
  z-index: 2;
}

/* line 29, ../../scss/seebri.scss */
#se-ad2 {
  background: url("../img/seeb/ALAT14_ipad_images_ver22.jpg") no-repeat 0 0;
}

/* line 30, ../../scss/seebri.scss */
#se-ad3 {
  background: url("../img/seeb/ALAT14_ipad_images_ver23.jpg") no-repeat 0 0;
}

/* line 33, ../../scss/seebri.scss */
.seebri h1 {
  color: #FAA835;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 39, ../../scss/seebri.scss */
.seebri h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
}
/* line 45, ../../scss/seebri.scss */
.seebri ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 20px;
}
/* line 50, ../../scss/seebri.scss */
.seebri ul li {
  font-size: 13px;
  margin-bottom: 10px;
}
/* line 55, ../../scss/seebri.scss */
.seebri .overflow {
  padding-right: 43px;
  right: 0px;
}

/* ULIBRO STYELES ------------------------------------------------------ */
/* line 4, ../../scss/ultibro.scss */
#ult1, #ult2, #ult3, #ult4, #ult5, #ult6, #ult7, #ult8, #ult9, #ult10, #ult11, #ult12, #ult13, #ult14, #ult15, #ult-ad1, #ult-ad2, #ult-ad3 {
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 1;
}

/* line 13, ../../scss/ultibro.scss */
#ult1 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-01.jpg") no-repeat 0 0;
}

/* line 14, ../../scss/ultibro.scss */
#ult2 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-02.jpg") no-repeat 0 0;
}

/* line 15, ../../scss/ultibro.scss */
#ult3 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-03.jpg") no-repeat 0 0;
}

/* line 16, ../../scss/ultibro.scss */
#ult4 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-04.jpg") no-repeat 0 0;
}

/* line 17, ../../scss/ultibro.scss */
#ult5 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-05.jpg") no-repeat 0 0;
}

/* line 18, ../../scss/ultibro.scss */
#ult6 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-06.jpg") no-repeat 0 0;
}

/* line 19, ../../scss/ultibro.scss */
#ult7 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-07.jpg") no-repeat 0 0;
}

/* line 20, ../../scss/ultibro.scss */
#ult8 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-08.jpg") no-repeat 0 0;
}

/* line 21, ../../scss/ultibro.scss */
#ult9 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-09.jpg") no-repeat 0 0;
}

/* line 22, ../../scss/ultibro.scss */
#ult10 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-10.jpg") no-repeat 0 0;
}

/* line 23, ../../scss/ultibro.scss */
#ult11 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-11.jpg") no-repeat 0 0;
}

/* line 24, ../../scss/ultibro.scss */
#ult12 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-12.jpg") no-repeat 0 0;
}

/* line 25, ../../scss/ultibro.scss */
#ult13 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-13.jpg") no-repeat 0 0;
}

/* line 27, ../../scss/ultibro.scss */
#ult-ad1 {
  background: url("../img/ult/ALAT14_ipad_images_ver24.jpg") no-repeat 0 0;
  z-index: 2;
}

/* line 28, ../../scss/ultibro.scss */
#ult-ad2 {
  background: url("../img/ult/ALAT14_ipad_images_ver25.jpg") no-repeat 0 0;
}

/* line 29, ../../scss/ultibro.scss */
#ult-ad3 {
  background: url("../img/ult/ALAT14_ipad_images_ver26.jpg") no-repeat 0 0;
}

/* line 34, ../../scss/ultibro.scss */
.ultibro h1 {
  color: #005480;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 40, ../../scss/ultibro.scss */
.ultibro h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
}
/* line 46, ../../scss/ultibro.scss */
.ultibro ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 20px;
}
/* line 51, ../../scss/ultibro.scss */
.ultibro ul li {
  font-size: 13px;
  margin-bottom: 10px;
}

/* MONITOR STYELES ------------------------------------------------------ */
/* line 4, ../../scss/monitor.scss */
.monitor {
  background: white;
  width: 1920px;
  height: 1080px;
  position: absolute;
  z-index: 99;
  display: none;
}
/* line 12, ../../scss/monitor.scss */
.monitor #mon-splash, .monitor #mon-se1, .monitor #mon-se2, .monitor #mon-om1, .monitor #mon-om2, .monitor #mon-ult1, .monitor #mon-ult2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
/* line 21, ../../scss/monitor.scss */
.monitor #mon-splash {
  background: url("../img/monitor/intro.jpg") no-repeat 0 0;
}
/* line 22, ../../scss/monitor.scss */
.monitor #mon-se1 {
  background: url("../img/monitor/ALAT14_screen_images_ver2.jpg") no-repeat 0 0;
}
/* line 23, ../../scss/monitor.scss */
.monitor #mon-se2 {
  background: url("../img/monitor/ALAT14_screen_images_ver22.jpg") no-repeat 0 0;
}
/* line 24, ../../scss/monitor.scss */
.monitor #mon-om1 {
  background: url("../img/monitor/ALAT14_screen_images_ver23.jpg") no-repeat 0 0;
}
/* line 25, ../../scss/monitor.scss */
.monitor #mon-om2 {
  background: url("../img/monitor/ALAT14_screen_images_ver24.jpg") no-repeat 0 0;
}
/* line 26, ../../scss/monitor.scss */
.monitor #mon-ult1 {
  background: url("../img/monitor/ALAT14_screen_images_ver25.jpg") no-repeat 0 0;
}
/* line 27, ../../scss/monitor.scss */
.monitor #mon-ult2 {
  background: url("../img/monitor/ALAT14_screen_images_ver26.jpg") no-repeat 0 0;
}

/* line 9, ../../scss/style.scss */
body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: arial;
}

/* line 15, ../../scss/style.scss */
body {
  color: black;
  background: #252525;
}

/* line 21, ../../scss/style.scss */
#container {
  position: absolute;
  width: 1024px;
  height: 768px;
  margin-top: 0px;
  overflow: hidden;
  background: white;
  z-index: 0;
}

/* line 31, ../../scss/style.scss */
#beta {
  position: absolute;
  top: 770px;
  height: 770px;
  color: white;
  display: none;
}

/* line 39, ../../scss/style.scss */
#reset, #reset2 {
  position: absolute;
  width: 250px;
  height: 90px;
  background: red;
  top: 660px;
  left: 390px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

/* line 51, ../../scss/style.scss */
#reset2 {
  left: 0px;
  top: 300px;
  width: 80px;
  height: 120px;
  position: absolute;
}

/* line 59, ../../scss/style.scss */
#btnDownSE, #btnUpSE, #btnDownSE2, #btnUpSE2, #btnDownON, #btnUpON {
  background: red;
  position: absolute;
  width: 300px;
  height: 60px;
  top: 300px;
  left: 600px;
  z-index: 9;
  opacity: 0;
  display: none;
}

/* line 71, ../../scss/style.scss */
#btnDownON {
  top: 560px;
  left: 670px;
}

/* line 76, ../../scss/style.scss */
#btnUpON {
  top: 200px;
  left: 670px;
}

/* line 81, ../../scss/style.scss */
#btnDownSE, #btnUpSE, #btnDownSE2, #btnUpSE2 {
  top: 600px;
  left: 700px;
}

/* line 85, ../../scss/style.scss */
#btnDownSE2, #btnUpSE2 {
  background: blue;
  top: 600px;
  left: 700px;
}

/* line 91, ../../scss/style.scss */
.legalintro {
  background: url("../img/SPHERE_INTERACTION_ipad_DIS-01.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  top: 0px;
  z-index: 99;
  cursor: pointer;
}

/* line 102, ../../scss/style.scss */
#splash {
  background: url("../img/intro.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 99;
}

/* line 111, ../../scss/style.scss */
#opt1, #opt2, #opt3 {
  background: white;
  position: absolute;
  width: 201px;
  height: 276px;
  top: 240px;
  left: 127px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 123, ../../scss/style.scss */
#opt2 {
  left: 407px;
}

/* line 125, ../../scss/style.scss */
#opt3 {
  left: 700px;
}

/* line 127, ../../scss/style.scss */
#opt1:hover, #opt2:hover, #opt3:hover {
  opacity: 0.5 !important;
}

/* line 131, ../../scss/style.scss */
.overflow {
  width: 280px;
  height: 210px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: white;
  position: absolute;
  right: 25px;
  top: 340px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 144, ../../scss/style.scss */
.block {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 150, ../../scss/style.scss */
.margB {
  margin-bottom: 15px;
}

/* line 151, ../../scss/style.scss */
.txt13 {
  font-size: 13px;
}

/* line 153, ../../scss/style.scss */
h2 {
  color: red;
}

/* line 154, ../../scss/style.scss */
a:link {
  color: #fff;
}

/* unvisited link */
/* line 155, ../../scss/style.scss */
a:visited {
  color: #fff;
}

/* visited link */
/* line 156, ../../scss/style.scss */
a:hover {
  color: #622f92;
}

/* mouse over link */
/* line 157, ../../scss/style.scss */
a:active {
  color: #fff;
}

/* selected link */
/* line 158, ../../scss/style.scss */
p {
  margin: 0px;
  padding: 0px;
}

/* line 160, ../../scss/style.scss */
button {
  height: 40px;
  margin-top: 5px;
  background-color: #999999;
  color: white;
  padding: 4px;
  text-align: center;
  width: 150px;
}
