/* ULIBRO STYELES ------------------------------------------------------ */
/* line 4, ../../scss/ultibro.scss */
#ult1, #ult2, #ult3, #ult4, #ult5, #ult6, #ult7, #ult8, #ult9, #ult10, #ult11, #ult12, #ult13, #ult14, #ult15, #ult-ad1, #ult-ad2, #ult-ad3 {
  background-size: 100% 100%;
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 1;
}

/* line 13, ../../scss/ultibro.scss */
#ult1 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-01.jpg") no-repeat 0 0;
}

/* line 14, ../../scss/ultibro.scss */
#ult2 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-02.jpg") no-repeat 0 0;
}

/* line 15, ../../scss/ultibro.scss */
#ult3 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-03.jpg") no-repeat 0 0;
}

/* line 16, ../../scss/ultibro.scss */
#ult4 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-04.jpg") no-repeat 0 0;
}

/* line 17, ../../scss/ultibro.scss */
#ult5 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-05.jpg") no-repeat 0 0;
}

/* line 18, ../../scss/ultibro.scss */
#ult6 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-06.jpg") no-repeat 0 0;
}

/* line 19, ../../scss/ultibro.scss */
#ult7 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-07.jpg") no-repeat 0 0;
}

/* line 20, ../../scss/ultibro.scss */
#ult8 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-08.jpg") no-repeat 0 0;
}

/* line 21, ../../scss/ultibro.scss */
#ult9 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-09.jpg") no-repeat 0 0;
}

/* line 22, ../../scss/ultibro.scss */
#ult10 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-10.jpg") no-repeat 0 0;
}

/* line 23, ../../scss/ultibro.scss */
#ult11 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-11.jpg") no-repeat 0 0;
}

/* line 24, ../../scss/ultibro.scss */
#ult12 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-12.jpg") no-repeat 0 0;
}

/* line 25, ../../scss/ultibro.scss */
#ult13 {
  background: url("../img/ult/Ultibro_mock-up_Storyboard-13.jpg") no-repeat 0 0;
}

/* line 27, ../../scss/ultibro.scss */
#ult-ad1 {
  background: url("../img/ult/ALAT14_ipad_images_ver24.jpg") no-repeat 0 0;
  z-index: 2;
}

/* line 28, ../../scss/ultibro.scss */
#ult-ad2 {
  background: url("../img/ult/ALAT14_ipad_images_ver25.jpg") no-repeat 0 0;
}

/* line 29, ../../scss/ultibro.scss */
#ult-ad3 {
  background: url("../img/ult/ALAT14_ipad_images_ver26.jpg") no-repeat 0 0;
}

/* line 34, ../../scss/ultibro.scss */
.ultibro h1 {
  color: #005480;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 40, ../../scss/ultibro.scss */
.ultibro h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
}
/* line 46, ../../scss/ultibro.scss */
.ultibro ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 20px;
}
/* line 51, ../../scss/ultibro.scss */
.ultibro ul li {
  font-size: 13px;
  margin-bottom: 10px;
}
